.body {
    position: fixed;
    top: 10px;
    right: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 0, 0);
}
.form,
label {
    display: block;
    padding: 10px;
    background-color: rgba(136, 176, 223, 0.829);
}
